.bg-pink-500 {
  display: flex;
}
.p-4 {
  display: flex;
}
.m-4\) {
  display: flex;
}
.text-pink-500 {
  display: flex;
}
.text-6xl {
  display: flex;
}
.border {
  display: flex;
}
.btn\(p-4 {
  display: flex;
}
.text-7xl {
  display: flex;
}
.text-9xl {
  display: flex;
}
.flex {
  display: flex;
}
.text-8xl {
  display: flex;
}
.m-5 {
  display: flex;
}
