.\+card\(flex\ text-md\ p-4\) {
  display: flex;
}

.green {
  display: flex;
}

.grid {
  display: flex;
}

.hi {
  display: flex;
}

.op {
  display: flex;
}

.red {
  display: flex;
}

.whatisup {
  display: flex;
}

