.bg-pink-500 {
  display: flex;
}
.flex {
  display: flex;
}
.text-6xl {
  display: flex;
}
.text-7xl {
  display: flex;
}
.text-8xl {
  display: flex;
}
.text-9xl {
  display: flex;
}
.text-pink-500 {
  display: flex;
}
